.App {
  text-align: center;
  background-color: #E6E6E6;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.div-card {
  flex: 0 1 49%;
}

.felx-input {
  flex: 0 1 47%;
}

@media screen and (max-width: 463px) {
  .felx-input {
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 862px) {
  .div-card {
    flex: 0 1 100%;
  }
}